/*
==============================================
Basic Stuff
==============================================
*/
body {
  /*   background: url(https://www.toptal.com/designers/subtlepatterns/patterns/memphis-colorful.png); */
  background: url(https://www.toptal.com/designers/subtlepatterns/patterns/subtle_white_feathers.png);
  margin: 0px 0 0 0;
  font-family: 'Josefin Sans', sans-serif;
}
header {
  /*   background: url(http://upload.wikimedia.org/wikipedia/commons/d/dd/Muybridge_race_horse_animated.gif) fixed;  */
  /*   background: url(https://media.giphy.com/media/3o7TKoLSUWybe97uWA/giphy.gif) fixed;  */
  background: url(https://media.giphy.com/media/R9ft1Oj5aO9Us/giphy.gif) fixed;
  background-color: #fff;
  position: absolute;
  width: 100%;
  z-index: -1;
  top: 0;
  height: 200px;
}h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 60px;
}p {
  font-size: 20px;
}h3 {
  font-size: 27px;
  line-height: 1.25;
}.padz{
  margin-top: 200px;
}.padz-2{
  margin-top: 140px !important;
}.text-center {
  text-align: center !important;
}.hoverz {
  height: 350px;
  width: 100%;
  margin-top: 200px;
}.hoverz h3 {
  font-size: 350px;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}.headerz {
  position: relative;
  margin: 2% auto;
  width: 33%;
}
.headerz h1 {
  color: #fff;
  font-size: 60px;
  text-shadow: 1px 1px 1px #212121;
}.right {
    float: right !important;
}
/*
==============================================
Font-Awesome / CodeWars Image
==============================================
*/
.fa {
    font-size: 145px !important;
    padding: 0 7% !important;
    color: #FE5B5B !important;
}.codeWars {
    width: 15%;
    padding: 0 7%;
    bottom: -18px;
    position: relative;
}
/*
==============================================
Floating Bars
==============================================
*/
.bar-1 {
  background-image: linear-gradient(to top, #ebbba7 0%, #cfc7f8 100%);
  display: inline-block;
  height: 100px;
  position: relative;
  width: 8%;
}.x2 {
  height: 150px !important;
}.x3 {
  height: 200px !important;
}.x4 {
  height: 300px !important;
}.x5 {
  height: 350px !important;
}
/*
==============================================
Animations
==============================================
*/
.floating {
  animation-name: floating;
  -webkit-animation-name: floating;

  animation-duration: 6s;
  -webkit-animation-duration: 6s;

  animation-iteration-count: 3;
  -webkit-animation-iteration-count: 3;
}
@keyframes floating {
  0% {
    box-shadow: 0 0 15px -4px #c63737;
    -webkit-box-shadow: 0 0 15px -4px #c63737;
    -moz-box-shadow: 0 0 15px -4px #c63737;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
  }
  50% {
    box-shadow: 0 0 15px 10px #000;
    -webkit-box-shadow: 0 0 15px 10px #c63737;
    -moz-box-shadow: 0 0 15px 10px #c63737;
    transform: translateY(-400px);
    -webkit-transform: translateY(-400px);
  }
  100% {
    box-shadow: 0 0 15px -4px #c63737;
    -webkit-box-shadow: 0 0 15px -4px #c63737;
    -moz-box-shadow: 0 0 15px -4px #c63737;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
  }
}.floating-2 {
  animation-name: floating-2;
  -webkit-animation-name: floating-2;
  -moz-animation-name: floating-2;

  animation-duration: 5s;
  -webkit-animation-duration: 5s;
  -moz-animation-duration: 5s;

  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
}
@keyframes floating-2 {
  0% {
    transform: translateY(0);
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
  }
  50% {
    transform: translateY(-160px);
    -webkit-transform: translateY(16%);
    -moz-transform: translateY(16%);
  }
  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
  }
}
/*
==============================================
This is the set up of the hover section
==============================================
*/
.H {
  background: url(https://tyslothrop.github.io/Climbing-Git.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: inline-block;
  position: relative;
  width: 33%;
  height: 350px;
}.H:hover {
  background: #e29898;
}.wordH::after {
  content: "Climbing";
  font-size: 50px;
  font-family: 'Abril Fatface', cursive;
  color: #fff;
  left: 0%;
  bottom: -9%;
  position: absolute;
  width: 100%;
  height: 350px;
}.wordH:hover::after {
  opacity: 0;
}.wordH::before {
  content: "I discovered climbing about 3 years ago at a bouldering gym in Montréal, and it quickly became my favourite pasttime. I love that to get to the top of the wall, I am forced to solve the 'problem' by trying and retrying, changing my approach, and seeking advice, slowly building my strength along the way. It's probably why I enjoy coding as well! Climbing outdoors is a big perk too; it is such a rush to finish a climb and overlook some beautiful Québec mountains!";
  font-size: 20px;
  opacity: 0;
  position: absolute;
  width: 90%;
  left: 0%;
  bottom: -200px;
  transition: all .75s ease;
  width: 100%;
  height: 350px;
}.wordH:hover::before {
  opacity: 1;
  bottom: 0px;
  z-index: 10;
  bottom: -100px;
}.O {
  background: url(https://tyslothrop.github.io/Camping-Git.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: inline-block;
  position: relative;
  width: 34%;
  height: 350px;
}.O:hover {
  background: #e2d497;
}.wordO::after {
  content: "Camping";
  font-size: 50px;
  font-family: 'Abril Fatface', cursive;
  opacity: 1;
  position: absolute;
  color: #fff;
  width: 100%;
  height: 350px;
  left: 0%;
  bottom: -9%;
}.wordO:hover::after {
  opacity: 0;
}.wordO::before {
  content: "After moving to Canada I really grew a love for the outdoors. Over the past 7 years I've spent many a summer weekend out in the woods with friends, and have many fond memories of calming hikes and playing music around a camp fire.";
  font-size: 20px;
  opacity: 0;
  position: absolute;
  width: 90%;
  left: 0%;
  bottom: -200px;
  transition: all .75s ease;
  width: 100%;
  height: 350px;
}.wordO:hover::before {
  opacity: 1;
  bottom: -100px;
}.V {
  background: url(https://tyslothrop.github.io/Cooking-Git.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: inline-block;
  position: relative;
  width: 33%;
  height: 350px;
}.V:hover {
  background: #97e2ca;
}.wordV::after {
  content: "Cooking";
  font-size: 50px;
  opacity: 1;
  position: absolute;
  width: 100%;
  height: 350px;
  font-family: 'Abril Fatface', cursive;
  color: #fff;
  left: 0%;
  bottom: -9%;
}.wordV:hover::after {
  opacity: 0;
}.wordV::before {
  content: "My favorite activity for when I have a lot of time at home is to cook a big meal. I love to try new recipes, invite my friends over, and spend the night talking over good food! In the short Canadian summers I enjoy trying out the grill; it may not be as challenging but everything cooked on charcoal is perfection!";
  font-size: 20px;
  opacity: 0;
  position: absolute;
  width: 90%;
  left: 0%;
  bottom: -200px;
  transition: all .75s ease;
  width: 100%;
  height: 350px;
}.wordV:hover::before {
  opacity: 1;
  bottom: -100px;
}
/*
==============================================
Set up for the titles of each section
==============================================
*/
.Menu {
  background: #098e54;
  box-shadow: 1px 1px 1px black;
  margin: 150px auto;
  text-align: center;
  /* maybe use max-width*/
  
}.Menu h1 {
  font-size: 80px;

  font-weight: bold;
}.title {
  margin-top: 100px;
  color: #c6af3b;
  font-size: 80px;
  position: relative;
  z-index:10;
}.title-about-me {
  margin-top: 0px;
  color: #c6af3b;
  font-size: 80px;
  position: relative;
  z-index:10;
}.Movies {
  margin: 0 auto;
  text-align: center;
  width: 66%;
  background: rgba(255, 255, 255, 0.10);
}.Movies h3{
  font-size: 25px;
}.Movies p{
  font-size: 20px;
  font-family: 'Fanwood Text', serif;
}/*
==============================================
Set up for the work experience/about me section
==============================================
*/
.homerow {
  height: 500px;
}.homerow-2 {
  height: 100vh !important;
}.movie1 {
  display: inline-block;
  vertical-align: top;
  width: 50%;
}.movie2 {
  display: inline-block;
  vertical-align: top;
  width: 50%;
}.bg-box#Allez {
  background: url(https://tyslothrop.github.io/DMA-Git.jpg);
  background-size: cover;
  background-position: center center; 
}.bg-box#Block {
  background: url(https://tyslothrop.github.io/LinkNow-Git.jpg);

  background-size: cover;
  background-position: center center;
}.bg-box-2#profile {
  background: url(https://tyslothrop.github.io/Profile-Git.jpg);

  background-size: cover;
  background-position: center center;
}.bg-box#ZeroG {
  background: url(https://tyslothrop.github.io/tmt-git.jpg);
  background-size: cover;
  background-position: center center;
}.bg-box#Shakti {
  background: url(https://tyslothrop.github.io/McGill-Git.jpg);
  background-size: cover;
  background-position: center center;
}.mcgill {
    width: 40%;
    position: relative;
}.tmt {
    width: 14%;
    position: relative;
}.linknow {
    width: 40%;
    position: relative;
}.dma {
    width: 40%;
    position: relative;
}a.page-btn {
  font-family: "Dosis", sans-serif;
  background: none;
  text-decoration: none;
  color: #fff;
  width: 200px;
  display: inline-block;
  padding: 7px 0;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 4px;
  box-sizing: border-box;
  border: 1px solid #fff;
  border-radius: 46px;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}a.page-btn:hover {
  border: none;
  text-shadow: 1px 2px 3px;
  background: none;
  color: #fff;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}.bg-box {
  min-height: 500px;
}.bg-box-2 {
  min-height: 100vh !important;
}.boxz3 {
  display: inline-block;
  width: 200px;
  height: 100px;
  margin: 1em;
  background: url(https://media.giphy.com/media/26gskofCNU8Tl4duU/giphy.gif)
    fixed;
  background-size: cover;
}.row.full {
  max-width: 100%;
}.txt-box {
  height: 100%;
  padding: 0;
  box-sizing: border-box;
  border: none;
}.txt-box.dark {
  background: #098e54;
}.txt-box h2 {
  margin-top: 0;
  font-size: 34px;
  font-weight: 500;
  letter-spacing: 4px;
  text-transform: capitalize;
  margin-bottom: 25px;
  line-height: 105%;
  font-family: 'Quattrocento', serif;
}.txt-box.dark h2 {
  color: #fff;
}.txt-inner {
  height: 100%;
  margin: 0 auto;
  padding: 75px 0 0;
  width: 75%;
}.txt-inner-2 {
  padding: 5px 0 0 !important;
}.txt-inner p {
  font-size: 20px;
  
  margin-bottom: 60px;
  font-family: 'Fanwood Text', serif;
}.dark .txt-inner p {
  color: #fff;
}
/* .txt-inner img {
  margin-bottom: 30px;
} */

/*
==============================================
Footer
==============================================
*/
footer {
  background: #098e54;
  height: 200px;
  position: absolute;
  width: 100%;
  
}
footer p, footer a {
  color: white;
  font-size: 18px;
}.footer-wrapper{
  width: 75%;
  margin: 0 auto;
}
/*
==============================================
For Laptop
==============================================
*/
@media only screen and (max-width: 1400px) { 
  h3 {
      font-size: 22px;
      line-height: 1.25;
  }.Movies p {
      font-size: 17px;
      line-height: 1.25;
  }.Movies h3{
  font-size: 22px;
  }.txt-inner p {
      font-size: 17px;
      margin-bottom: 60px;
      font-family: 'Fanwood Text', serif;
  }

}
@media only screen and (max-width: 1300px) { 
  h3 {
      font-size: 18px;
      line-height: 1.25;
  }.Movies p {
      font-size: 15px;
      line-height: 1.25;
  }.Movies h3{
  font-size: 18px;
  }.txt-inner p {
      font-size: 15px;
      margin-bottom: 60px;
      font-family: 'Fanwood Text', serif;
  }.fa {
    font-size: 145px !important;
    padding: 0 5% !important;
    
  }.codeWars {
      width: 19%;
      padding: 0 5%;
      bottom: -18px;
  }.wordH::before {
    font-size: 17px;   
  }.wordO::before {
    font-size: 17px;   
  }.wordV::before {
    font-size: 17px;   
  }

}
/*
==============================================
For Tablet Landscape View
==============================================
*/
@media only screen and (max-width: 1024px) { 
  .title-about-me {
  margin-top: 0px;
  color: #c6af3b;
  font-size: 55px;
  position: relative;
  z-index:10;
  }.title {
  margin-top: 100px;
  color: #c6af3b;
  font-size: 55px;
  position: relative;
  z-index:10;
}.txt-inner-3 {
    padding: 30px 0 0 !important;
  }h3 {
      font-size: 17px;
      line-height: 1.25;
  }.Movies p {
      font-size: 15px;
      line-height: 1.25;
  }.Movies h3{
  font-size: 18px;
  }
}
/*
==============================================
For Tablet/Mobile
==============================================
*/
@media only screen and (max-width: 768px) { 
  .fa {
    font-size: 100px !important;
    padding: 0 5% !important;
    
  }.codeWars {
      width: 21%;
      padding: 0 5%;
      bottom: -18px;
  }.Menu {
    margin: 75px auto;
  }.movie1 {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  }.movie2 {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  }.homerow {
  height: auto;
  }.homerow-2 {
  height: auto !important;
  }.bg-box {
  min-height: 450px !important;
  }.bg-box-2 {
  min-height: 500px !important;
  }.padz-2{
  margin-top: 0px !important;
  }.txt-inner p {
   margin-bottom: 10px;
  }.Movies {
    width: 83%;
  }.txt-inner p {
    font-size: 17px;
    margin-bottom: 60px;
    font-family: 'Fanwood Text', serif;
  }.Movies p {
      font-size: 17px;
      line-height: 1.25;
  }a.page-btn {
      margin-bottom: 50px;
  }.H {
    width: 100%;
    height: 350px;
  }.O {
    width: 100%;
    height: 350px;
  }.V {
    width: 100%;
    height: 350px;
  }.hoverz {
    height: auto;
    width: 100%;
    margin-top: 200px;
  }.wordH::before {
    font-size: 22px;   
  }.wordO::before {
    font-size: 22px;   
  }.wordV::before {
    font-size: 22px;   
  }footer {
    height: 250px;
  }
}
/*
==============================================
Prereq Links for Mobile
==============================================
*/
@media only screen and (max-width: 450px) { 
  .codeWars {
    width: 21%;
    padding: 0 3%;
    bottom: -10px;
  }.fa {
    font-size: 50px !important;
    padding: 0 3% !important;
  }footer {
    height: 300px;
  }
}
